<body>
  <head>
    <link rel="stylesheet" href="https://use.typekit.net/wiz5trz.css">
  </head>
  
  <div id="container">
    

    <main id="mainContent">
      <div id="propoganda">
        <h2>
          Come join us at this thing nasdk fjnaksdfj sakfsk fjsaklfjslafjlskjfslaf jslafj lskfj lksjflsajflsa jflksdjf lsakjlsk fjlskjfas
        </h2>
        
      </div>

      <div id="signup-container">
        <h1 id="signup-title">Sign Up</h1>

        <!-- Success message -->
        @if(successMessage){
        <div id="success-message">{{ successMessage }}</div>
        }
        @else{
          <div id="error-message">{{successMessage}}</div>
        }
        <!-- Sign-up form -->
        <form (ngSubmit)="onSignup()">
          <label for="username">Email:</label>
          <input type="email" id="username" name="username" [(ngModel)]="newUser.email" required>
          
          <label for="firstname">First Name:</label>
          <input type="firstname" id="firstname" name="firstname" [(ngModel)]="newUser.firstname" required>
          
          <label for="lastname">Last Name:</label>
          <input type="lastname" id="lastname" name="lastname" [(ngModel)]="newUser.lastname" required>

          <label for="grade">Grade:</label>
         
          <select [(ngModel)] = "newUser.grade" name="grade" id="grade" required>
            <option value="Freshman">Freshman</option>
            <option value="Sophomore">Sophomore</option>
            <option value="Junior">Junior</option>
            <option value="Senior">Senior</option>
            
          </select>
          <button type="submit" [disabled]="check">Sign Up</button>
        </form>

        <p>Already have an account? <a id="login-link" href="/login">Login</a></p>

        <div>
          {{newUser.firstname}}
          {{newUser.lastname}}
          {{newUser.grade}}
        </div>

      </div>
    </main>
  </div>
</body>

