<head>
  <link rel="stylesheet" href="https://use.typekit.net/wiz5trz.css">
</head>

<div id="container">
  <img id="MainBackground" src="assets/MainBackground.png" alt="MainBackground" fetchpriority="high" />
  <header id="header">
    <nav>
      <div id="logo">Abstraction</div>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#leadership">Leadership</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div id="contact">
        <a routerLink="/signup-page" id="contact-top">Sign Up</a>
      </div>
    </nav>
  </header>
  <main id="mainContent">
    <p id="intro">Join Abstraction, Calvin’s Computer Science Club where you can gain hands on experience with Community
      Projects, Events, and Hackathons!</p>
    <img id="HomePageDesign" src="assets/HomePageDesign.png" alt="HomePageDesign1" fetchpriority="high" />
  </main>
</div>
<div id="secondContent">
  <img id="HPGrayDesign" src="assets/HPGrayDesign.png" alt="HPGrayDesign1" fetchpriority="high" />
  <p id="mission">Abstraction is a student organization centered around computing and technology. Our goal is to build
    community among
    students interested in computing and to serve others by providing a
    space to have fun and to learn more about technology!</p>
</div>

<div id="card-container">
  <a href="/community-project">
    <app-type-cards title="Community Projects"
      subtitle="Join our Community Projects where you work on a project mentored by a Calvin Professor."
      design="assets/card1design.png" backgroundcolor="#FFE7CA"></app-type-cards>
  </a>

  <a href="https://calvinhacks.org/">
    <app-type-cards title="Hackathon"
      subtitle="Join our annual 24 hour hackathon where you get the chance to gain $2000 + in prizes and credentials."
      design="assets/card2design.png" backgroundcolor="#E3EAFE"></app-type-cards>
  </a>

  <a href="/workshops">
    <app-type-cards title="Workshops"
      subtitle="Explore the different workshops we offer such as resume building and networking sessions. "
      design="assets/card1design.png" backgroundcolor="#FFE7CA"></app-type-cards>
  </a>
</div>


<app-event title="Coding Competition"
  description="Abstraction just hosted a coding competition where questions on Data Structures and Algorithms were asked. It was a great opportunity to practice skills for a future technical interview."
  date="April 10, 2024" 
  image="assets/CodingCompetition.png">
</app-event>

<app-event title="Another event to see how it will look" 
description="Quiet on the set. And we're rolling. Cody Maverick interview, take one.
Cody/: So why are you guys here to interview me?It's what we do. We're a reality film crew. Cody: Should I know some of the questions before we start?No. They're easy.Okay.Can you stand on that box, please?" 
  date="Octogber 20, 2005" 
  image="assets/surfsup.png">
</app-event>


<div class="footer-container">
  <!-- <img id="Footer" src={Footer.src} alt="" fetchpriority="high" /> -->
  <div id="footer-card-container">
    <div id="footer-card">
      <h2>Ready To Get Started?</h2>
      <a routerLink="/signup-page" id="signup">Sign Up</a>
    </div>
    <div id="footer-card">
      <h2>Stay Informed</h2>
      <li><a id="footer-list" href="">Mailing List</a></li>
      <li><a id="footer-list" href="">Instagram</a></li>
    </div>
    <div id="footer-card">
      <h2>Find Us</h2>
      <li><a id="footer-list" href="https://www.instagram.com/calvinabstraction/">Instagram</a></li>
      <li><a id="footer-list" href="">GitHub</a></li>
      <p id="email">abstraction(at)calvin.edu</p>
    </div>
  </div>
</div>