<head>
    <link rel="stylesheet" href="https://use.typekit.net/wiz5trz.css">
  </head>
  
  <div id="container">
    <header id="header">
      <nav>
        <div id="logo">Abstraction</div>
        <ul>
          <li><a routerLink="/home-page">Home</a></li>
          <li><a routerLink="/community-project">Projects</a></li>
          <li><a routerLink="/workshops">Workshops</a></li>
          <li><a routerLink="/leadership">Leadership</a></li>
        </ul>
        <div id="contact">
          <a routerLink="/signup-page" id="contact-top">Sign Up</a>
        </div>
      </nav>
    </header>
    <main id="mainContent">
      <p id="intro">We introduce you to Abstraction’s 2024 - 2025
        Leadership Team! Interested in joining? Make sure to contact 
        one of the leaders about the opportunity!</p>
    </main>
  </div>

  <div id="card-container">
      <img id="background" src="assets/EventDesign.png" alt="MainBackground" fetchpriority="high" />
      <app-leadership-card name="Ivan Widjanarko"
      position="Co-President" email="iw3@calvin.edu"
      design="assets/Ivan.png" backgroundcolor="#FFE7CA"></app-leadership-card>

      <app-leadership-card name="David Kim"
      position="Co-President" email="jk267@calvin.edu"
      design="assets/David.JPG" backgroundcolor="#E3EAFE"></app-leadership-card>


      <app-leadership-card name="Kenny Howes"
      position="Secretary" email="kmh67@calvin.edu"
      design="assets/Kenny.jpeg" backgroundcolor="#CDE0B6"></app-leadership-card>

      <app-leadership-card name="Joshua Park"
      position="UI/UX Designer & Web Developer" email="sp72@calvin.edu"
      design="assets/Joshua.JPG" backgroundcolor="#CDE0B6"></app-leadership-card>

      <app-leadership-card name="Tyler Bylsma"
      position="Treasurer" email="tjb65@calvin.edu"
      design="assets/Tyler.png" backgroundcolor="#FFE7CA"></app-leadership-card>

      <app-leadership-card name="Musa Kwong"
      position="Workshop Leader" email="mak66@calvin.edu"
      design="assets/Musa.jpg" backgroundcolor="#E3EAFE"></app-leadership-card>

      <app-leadership-card name="Samuel Ntadom"
      position="Workshop Leader" email="sin2@calvin.edu"
      design="assets/Sam.jpg" backgroundcolor="#CDE0B6"></app-leadership-card>

      <app-leadership-card name="Professor. Victor Norman"
      position="Advisor" email="victor.norman@calvin.edu"
      design="assets/Norman.png" backgroundcolor="#FFE7CA"></app-leadership-card>
  </div>

  
  <div class="footer-container">
    <!-- <img id="Footer" src={Footer.src} alt="" fetchpriority="high" /> -->
    <div id="footer-card-container">
      <div id="footer-card">
        <h2>Ready To Get Started?</h2>
        <a routerLink="/signup-page" id="signup">Sign Up</a>
      </div>
      <div id="footer-card">
        <h2>Get Involved</h2>
        <li><a id="footer-list" routerLink="/community-project">Community Projects</a></li>
      <li><a id="footer-list" routerLink="/workshops">Workshops</a></li>
      <li><a id="footer-list" href="https://calvinhacks.org/">Hackathon</a></li>
      </div>
      <div id="footer-card">
        <h2>Find Us</h2>
        <li><a id="footer-list" href="https://www.instagram.com/calvinabstraction/">Instagram</a></li>
        <li><a id="footer-list" href="">GitHub</a></li>
        <p id="email">abstraction&#64;calvin.edu</p>
      </div>
    </div>
  </div>